<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :student_name %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age, id: :student_age %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :student_phone %>
  </div>

  <div class="field">
    <%= form.collection_select(:lesson_id, Lesson.all, :id, :subject, { :prompt => 'Lesson', :selected => :lesson_id}) %>
  </div>

  <div class="field">
   <%= form.collection_select(:teacher_id, Teacher.all, :id, :name, { :prompt => 'Teacher', :selected => :teacher_id}) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
